{% extends 'base/base.html' %}

{% block content %}
    <h1 class="center">Welcome {{student.name}} {{student.last_name}}</h1>
        
        <h4 class="center">{{enrolls.id}}</h4>
            <table class="centered striped">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>First Note</th>
                        <th>Second Note</th>
                        <th>Definitive Note</th>
                    </tr>
                </thead>
        
                <tbody>
                    {% if enrolls %}
                        {% for enroll in enrolls %}
                            <tr>
                                <td>{{enroll.subject.name}}</td>
                                <td>{{enroll.first_note}}</td>
                                <td>{{enroll.second_note}}</td>
                                <td>{{enroll.def_note}}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h4 class="center">El estudiante no esta matriculado en ningún curso</h4>
                    {% endif %}
                </tbody>
            </table>
{% endblock %}